SHOPIFY_API_KEY=Your Shopify API Key
SHOPIFY_API_SECRET_KEY=Your Shopify API secret key
SCOPES=write_customers,write_orders,write_products
# Leave HOST empty in dev mode, it will be auto generated.
HOST=Your Apps Url
SHOP=Your Dev Store Url(example.myshopify.com)

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=